
:root{
    --f-size:10px;
    --f-xl :calc(2*var(--f-size));
    --f-l :calc(var(--f-size)+2px);
    --f-l :calc(var(--f-size)-2px);
    --f-l :calc(var(--f-size)/2px);       
      }


body{
    background-color: var(--primary-color,blue);
             }



p{
    --primary-color: red;
    color: var(--primary-color);
}