@media (min-width: 0px) and (max-width: 768px) {
    .education-item{
      margin-top: 10px;
    }
    .img-left-education-first{
        padding-top: 10px !important;
         padding-bottom: 10px !important;
    }
    .general-header{
        padding-top: 10px !important;
    }
    .my-work-text{
        padding-left: 0px !important;
    }
  }