html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

ol, ul {
  list-style: none; }

a {
  text-decoration: none; }

@media (min-width: 0px) and (max-width: 768px) {
  .education-item {
    margin-top: 10px; }

  .img-left-education-first {
    padding-top: 10px !important;
    padding-bottom: 10px !important; }

  .general-header {
    padding-top: 10px !important; }

  .my-work-text {
    padding-left: 0px !important; } }
body {
  font-family: 'Lato',sans-serif;
  background-image: url(../img/back-img.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; }

a {
  text-decoration: none !important; }

.left-item {
  display: flex;
  justify-content: center; }

.logo {
  width: 140px;
  height: 140px;
  margin-left: 10px; }

.logo a img {
  width: 100%;
  height: 100%;
  border-radius: 50%; }

.menu {
  background-color: #a43f49;
  width: 100%; }

.menu-img-items {
  display: flex;
  justify-content: center; }

.menu-portfolio-name {
  padding: 40px 0px 60px; }

.menu-img {
  padding-top: 60px; }

.menu-item-name {
  color: white;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.25px; }

.menu-item-text {
  color: white;
  font-size: 13px;
  font-style: italic;
  text-align: center; }

.main-nav {
  display: flex;
  justify-content: center; }

.main-nav-items {
  width: 100%; }

.main-nav-item {
  background-color: #a43f49;
  text-align: center; }

.main-nav-item a {
  width: 100%;
  height: 80px;
  line-height: 80px;
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  color: white;
  transition: all 0.5s;
  border-top: 2px solid white; }

.social {
  border-top: 2px solid white;
  border-bottom: 1px solid rgba(250, 250, 250, 0.1); }

.social-items {
  padding-top: 60px;
  padding-bottom: 60px; }

.social-items ul {
  display: flex;
  justify-content: center; }

.social-item {
  margin: 2px; }

.social-item a {
  height: 36px;
  width: 36px;
  line-height: 36px;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  text-align: center; }

.footer-item {
  padding: 30px;
  color: white;
  font-size: 13px; }

.general-header {
  text-align: center;
  padding: 80px 45px 20px; }

.general-header .dec-line {
  width: 50%;
  height: 3px;
  background-color: #a43f49;
  margin: 10px auto; }

.general-header h2 {
  font-size: 32px;
  font-weight: 700;
  color: white; }

.general-header p {
  margin-top: 5px;
  font-size: 16px;
  color: white;
  letter-spacing: 0.5px; }

.img-left-education-first {
  padding-top: 60px;
  padding-bottom: 60px; }

.educatin-about-items {
  background-color: #a43f49;
  padding: 20px;
  border-radius: 5px; }

.educatin-about-items h4 {
  font-size: 18px;
  font-weight: 700;
  color: white;
  letter-spacing: 0.25px; }

.educatin-about-items p {
  font-size: 16px;
  line-height: 24px;
  color: white;
  padding-top: 10px; }

.educatin-about-items p span {
  color: white;
  padding-left: 10px; }

.skils-header h2 {
  color: white;
  font-size: 18px;
  font-weight: bold; }

.skils-logo {
  padding-top: 20px; }

.skils-logo img {
  width: 100%;
  height: 80px;
  object-fit: contain; }

.skils-logo a p {
  color: white;
  text-align: center;
  font-size: 18px;
  padding-top: 5px;
  display: none; }

.skils-logo:hover a p {
  display: block; }

.article {
  width: 100%;
  position: relative;
  padding-top: 40px;
  height: 290px; }

.article img {
  width: 100%;
  height: 100%;
  border-radius: 5px; }

.article-header {
  width: 100%;
  text-decoration: none !important;
  background-color: rgba(63, 55, 55, 0.5);
  font-size: 24px;
  color: white;
  padding: 10px 15px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  display: none; }

.article-header span {
  font-size: 12px;
  padding-left: 10px; }

.article:hover .article-header {
  display: block; }

form {
  width: 100%; }

.contact-item {
  padding-top: 20px; }

.contact-item input, .contact-item textarea {
  width: 100%;
  background-color: rgba(250, 250, 250, 0.1);
  border: 1px solid #fafafa;
  border-radius: 0px;
  padding: 10px; }

.contact-items {
  padding-top: 20px; }

.contact-item-btn {
  display: flex;
  justify-content: center;
  padding-top: 20px; }

.contact-item-btn a {
  display: inline-block;
  padding: 10px 20px;
  background-color: white;
  color: #a43f49;
  font-size: 12px;
  font-weight: 800;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  transition: all 0.5s;
  border: none;
  text-decoration: none; }

.contact {
  padding-top: 20px;
  padding-bottom: 20px; }

.contact-number, .contact-adress, .contact-mail {
  color: white;
  padding-top: 10px; }

.contact ul li span {
  color: #a43f49; }

.works {
  padding-top: 40px; }

.my-work-text {
  padding-left: 30px; }

.my-work-img {
  width: 100%;
  height: 200px; }

.my-work-img img {
  width: 100%;
  height: 100%; }

.my-work-item {
  color: #a43f49;
  padding-top: 10px; }

.my-work-item span {
  color: white;
  padding-left: 10px; }

.version {
  padding-top: 30px; }

.demo-version {
  color: white;
  background-color: #a43f49;
  padding: 10px 20px;
  border-radius: 6px;
  font-size: 12px;
  font-weight: 800;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  transition: all 0.5s;
  text-decoration: none !important; }

.git-version {
  color: #a43f49;
  background-color: white;
  padding: 10px 20px;
  border-radius: 6px;
  font-size: 12px;
  font-weight: 800;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  transition: all 0.5s;
  text-decoration: none !important; }

/*# sourceMappingURL=style.css.map */
