.menu-logo a {
  font-family: Playfair;
  font-style: normal;
  font-weight: 700;
  font-size: 24px; }

.news-item-text h2 {
  font-family: Lora;
  font-style: normal;
  font-weight: normal; }

.news-text h2 {
  font-family: Lora;
  font-style: normal;
  font-weight: bold; }

ul {
  list-style: none; }

body {
  height: 4000px; }

.container {
  width: 1110px;
  margin: 0 auto;
  padding: 0px; }

.conainer-fluid {
  width: 100%; }

.menu {
  padding-top: 66px;
  width: 100%;
  display: flex;
  justify-content: space-between; }

.menu-logo {
  width: 240px; }

.menu-logo a {
  color: #10375C;
  text-decoration: none !important; }

.menu-items {
  width: 630px; }

.menu-items ul {
  display: flex;
  list-style-type: none; }

.menu-item {
  padding-left: 40px;
  text-transform: capitalize;
  font-family: Lato;
  font-style: normal;
  font-size: 16px;
  line-height: 28px; }

.menu-item a {
  color: #222831; }

.menu-registr {
  width: 240px; }

.menu-registr ul {
  display: flex;
  list-style-type: none; }

.menu-registr ul li {
  line-height: 19px;
  text-transform: capitalize;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 16px; }

.menu-registr ul li a {
  color: #FF5722;
  padding: 12px 24px; }

.sign-up a {
  padding: 12px 24px;
  color: #fff !important;
  background-color: #FF5722; }

.introducing-title p {
  line-height: 30px;
  color: #222831;
  font-family: Lato;
  font-style: normal;
  font-weight: 500;
  font-size: 20px; }

.introducing-texts {
  width: 100%;
  display: flex; }

.introducing-header h2 {
  width: 667px;
  font-family: Lora;
  font-style: normal;
  font-weight: bold;
  font-size: 52px;
  line-height: 67px; }

.introducing-header h2 span {
  color: #DD2C00; }

.introducing-text {
  font-family: Lato;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  width: 382px;
  line-height: 30px;
  color: #6A6A6A;
  margin-left: 60px;
  margin-top: 20px; }

.introducing-text p {
  text-align: end; }

.find-your-space {
  display: flex; }

.find-your-space-items {
  width: 522px;
  height: 459px;
  background-color: #10375C;
  position: relative;
  top: 64px; }

.find-your-img {
  width: 960px;
  height: 598.05px; }

.find-your-img img {
  width: 960px;
  position: absolute;
  right: 0px;
  z-index: -1; }

.space-header-text {
  font-family: Lora;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 44px;
  color: #fff; }

.form-item select {
  width: 100%; }

.form-item p {
  font-family: Lato;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #fff; }

.we-revalition {
  width: 1110px;
  display: flex; }

.we-revalition-left {
  width: 50%; }

.we-revalition-right {
  width: 50%; }

.revalition-items {
  width: 100%;
  display: flex;
  padding-top: 70px; }

.revalition-item {
  width: 50%;
  display: flex; }

.revalition-item img {
  height: 32px;
  width: 32px;
  color: #10375C;
  display: flex;
  margin-top: 10px; }

.revalition-item div {
  padding-left: 24px;
  color: #10375C; }

.revalition-item div h2 {
  font-family: Lora;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 41px;
  margin-bottom: 0px; }

.revalition-item div p {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 2 16px;
  margin-bottom: 0px; }

.we-revalition-right-items {
  width: 100%;
  height: 100%;
  background-color: #10375C;
  margin-top: 40px;
  color: #fff; }

.revalition-texts {
  padding: 53px 53px 0px; }

.revalition-header p {
  font-family: Lato;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px; }

.revalition-title {
  font-family: Lora;
  font-style: bold;
  font-weight: 500;
  font-size: 40px;
  line-height: 51px; }

.revalition-text {
  font-family: Lato;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px; }

.our-facilities {
  margin-top: 144px; }

.our-facilities-header p {
  line-height: 30px;
  color: #222831;
  font-family: Lato;
  font-style: normal;
  font-weight: 500;
  font-size: 20px; }

.our-facilities-header h2 {
  padding-right: 10px;
  width: 570px;
  line-height: 51px;
  color: #10375C;
  font-family: Lora;
  font-style: normal;
  font-weight: bold;
  font-size: 40px; }

.our-facilities-menu {
  padding-top: 80px;
  width: 293px; }

.our-facilities-menu-items {
  display: flex;
  justify-content: space-between; }

.our-facilities-menu-item {
  display: flex;
  padding: 24px;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px; }

.our-facilities-menu-item a {
  color: #222831; }

.our-facilities-menu-item:hover {
  background-color: #FF5722;
  color: #fff; }

.our-facilities-menu-item:hover a {
  color: #fff; }

.our-facilities-img {
  width: 729px;
  height: 453px;
  padding-top: 54px; }

.our-facilities-img img {
  width: 100%;
  height: 100%; }

.galery {
  width: 100%;
  padding-top: 112px; }

.galery-title {
  display: flex;
  justify-content: flex-end; }

.galery-header-items {
  width: 496px; }

.galery-header-items p {
  font-family: Lato;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #222831; }

.galery-header-items h2 {
  font-family: Lora;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 51px;
  color: #10375C; }

.galery-click {
  display: flex; }

.galery-click-right img {
  width: 89px; }

.galery-img {
  padding-top: 62px;
  width: 100%;
  display: flex;
  justify-content: space-between; }

.galery-item {
  padding-right: 10px;
  width: 25%;
  height: 350px;
  cursor: pointer; }

.galery-item img {
  width: 100%;
  height: 100%; }

.galery-item:last-child {
  padding-right: 0px !important; }

.sponsors-header h2, .sponsors-header p {
  text-align: center; }

.sponsor-items {
  display: flex;
  justify-content: space-between; }

.help-center-header {
  width: 100%;
  display: flex;
  justify-content: center; }

.help-center-header h2 {
  text-align: center;
  width: 578px;
  line-height: 51px;
  letter-spacing: 0em;
  padding: 0px;
  font-family: Lora;
  font-size: 40px;
  font-style: normal;
  font-weight: 700; }

.help-center-sections {
  display: flex;
  justify-content: space-between; }

.help-center-section:hover {
  background-color: #FF5722; }

.help-center-section:hover .help-center-icon, .help-center-section:hover .help-center-icon a {
  background-color: #fff;
  color: #FF5722; }

.help-center-section {
  width: 350px;
  background-color: #fff;
  box-shadow: 1px 3px 10px 3px grey;
  border: 1px solid #BFBFBF; }

.help-center-section h2 {
  font-family: Lora;
  font-size: 26px;
  font-style: normal;
  font-weight: normal;
  padding: 42px 40px;
  line-height: 33px;
  text-align: center;
  color: #000; }

.help-center-icon {
  width: 64px;
  height: 48px;
  background-color: #FF5722;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: -20px;
  left: 140px; }

.help-center-icon div a {
  color: #fff; }

.more-quetions {
  padding-top: 44px;
  text-align: center;
  color: #FF5722; }

.more-quetions a {
  color: #FF5722;
  font-size: 16px;
  line-height: 26px; }

.more-quetions a i {
  color: #FF5722;
  padding-left: 20px;
  padding-top: 40px;
  padding-bottom: 40px; }

.news-full {
  width: 100%;
  background-color: #F8F8F8; }

.news {
  padding-bottom: 96px; }

.news-text {
  display: flex;
  justify-content: space-between;
  padding-top: 60px; }

.news-text h2 {
  font-size: 40px;
  line-height: 41px;
  color: #10375C; }

.news-text a {
  padding-top: 10px;
  color: #FF5722;
  font-size: 16px;
  line-height: 26px; }

.news-text a i {
  color: #FF5722;
  padding-left: 20px; }

.news-items {
  display: flex;
  justify-content: space-between;
  padding-top: 56px; }

.news-item {
  width: 350px;
  height: 320px; }

.news-img-first {
  display: flex;
  background-color: #fff;
  width: 730px; }

.news-img-first a img {
  height: 100%;
  width: 100%; }

.news-item a img {
  height: 204px;
  width: 100%; }

.news-item-text {
  background-color: #fff;
  height: 116px; }

.news-item-text h2 {
  font-size: 20px;
  line-height: 28px;
  color: #222831;
  padding-top: 14px;
  padding-left: 16px; }

.news-item-text p {
  font-family: Lato;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 2 16px;
  color: #9A9A9A;
  padding-top: 4px;
  padding-left: 16px; }

.ceo-items {
  padding: 32px; }

.ceo-header {
  font-family: Lora;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 41px;
  letter-spacing: 0em;
  margin: 0px; }

.ceo-texts {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #9A9A9A;
  margin: 0px;
  padding-bottom: 17px;
  padding-top: 24px; }

.about-ceo {
  display: flex; }

.ceo-name {
  padding-left: 23px; }

.ceo-name h2 {
  font-family: Lato;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 2 18px;
  letter-spacing: 0em;
  margin: 0px; }

.ceo-name p {
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0em;
  color: #9A9A9A; }

.become-member-items {
  display: flex;
  justify-content: space-between; }

.become-member {
  width: 100%;
  background-color: #10375C; }

.become-member-text {
  width: 445px;
  padding-top: 70px;
  height: 456px; }

.become-member-imgs {
  display: flex;
  padding-right: 80px;
  position: relative; }

.become-member-img {
  height: 452; }

.become-member-img img {
  height: 452; }

.become-member-text h4 {
  font-family: Lato;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #fff; }

.become-member-text h2 {
  font-family: Lora;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  padding-bottom: 16px;
  line-height: 51px;
  color: #fff; }

.become-member-text p {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  padding-bottom: 33px;
  line-height: 30px;
  color: #DFDFDF; }

.become-member-text a {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  padding: 13px 114px;
  color: #fff;
  background-color: #FF5722; }

.footer {
  width: 100%;
  background-color: #0D2C4A; }

.footer-items {
  display: flex;
  margin: 0px; }

.footer-social {
  padding-top: 65px;
  padding-bottom: 102px;
  width: 350px;
  color: #fff; }

.footer-social h2 {
  font-family: Lora;
  font-style: normal;
  font-weight: bold;
  font-size: 52px;
  line-height: 67px;
  color: #fff;
  margin: 0px;
  padding-bottom: 16px; }

.footer-social p {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #F8F8F8;
  margin: 0px;
  padding-bottom: 26px; }

.social-items ul {
  display: flex;
  padding-right: 22px;
  padding-left: 0px;
  color: #fff; }

.social-items ul li {
  padding-right: 22px;
  color: #fff; }

.social-items ul li a {
  color: #fff; }

.footer-item-lists {
  display: flex;
  justify-content: space-between;
  width: 750px; }

.footer-item {
  padding-top: 86px; }

.footer-item h4 {
  padding-left: 40px;
  font-family: Lato;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #FFFFFF; }

.footer-item ul li a {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #FFFFFF; }

/*# sourceMappingURL=style.css.map */
