$color-10375C:#10375C;
$color-000: #000;
$color-FF5722:#FF5722;
$color-DD2C00: #DD2C00;
$color-222831:  #222831;
$color-6A6A6A: #6A6A6A;
$color-F8F8F8: #F8F8F8;
$color-9A9A9A: #9A9A9A;
$color-DFDFDF: #DFDFDF;
$color-0D2C4A: #0D2C4A;


$color-white: #fff;
$font-family-lora: Lora;
$font-family-lato:  Lato;
$font-family-playfair: Playfair;
$capitalize: capitalize;
$normal: normal;
$bold: bold;
$none: none ;
$weight-500: 500;
$size-10: 10px;
$line-height-10: 10px;
$size-100: 100px;
$d-flex: flex;
$d-block: block;
$d-grid: grid;
$center: center;
$between: space-between;
$end: end;
$full: 100%;
